<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kopodermo.proyecto_final">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Credit_Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.activity.Reporte.Credito_Activity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.activity.Reporte.SCliente_Activity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.activity.Config.Config_Activity" android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".view.activity.Pedido.Confirmar_Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.activity.Reporte.RCliente_Activity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.activity.Gestion.GCliente_Activity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.activity.Pedido.Finalizado_Activity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.activity.Pedido.Cliente_Activity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.activity.Pedido.Pedido_Activity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".view.activity.Gestion.Producto_Activity" android:windowSoftInputMode="adjustResize"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider> <!-- uCrop cropping activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ImagePickerActivity" />
        <activity android:name=".view.activity.Reporte.Reporte_Activity" />
        <activity android:name=".view.activity.Reporte.Detalles_Activity" />
        <activity android:name=".Main_Activity" />
        <activity android:name=".Login_Activity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>